<div class="navbar navbar-expand-sm sticky-top navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "logo_preto_s_nome.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse mr-4" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Página Inicial", home_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= link_to "Aulas", "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to '<i class="fas fa-lock-open"></i> 1. Manifestações da Personalidade'.html_safe, aula1_path, class: "dropdown-item" %>
          <%= link_to '<i class="fas fa-lock-open"></i> 2. Iluminando a Escuridão'.html_safe, aula2_path, class: "dropdown-item" %>
          <%= link_to '<i class="fas fa-lock-open"></i> 3. Ciência do Ser'.html_safe, aula3_path, class: "dropdown-item" %>
          <%= link_to '<i class="fas fa-lock-open"></i> 4. Rotina Consciente e Saúde Integral'.html_safe, aula4_path, class: "dropdown-item" %>
          <%= link_to '<i class="fas fa-lock"></i> 5. Relacionamentos: a escola da vida'.html_safe, "", class: "dropdown-item disabled" %>
          <%= link_to '<i class="fas fa-lock"></i> 6. Prosperidade e Abundância'.html_safe, "", class: "dropdown-item disabled" %>
          <%= link_to '<i class="fas fa-lock"></i> 7. Seu papel na consciência coletiva'.html_safe, "", class: "dropdown-item disabled" %>
          <%= link_to '<i class="fas fa-lock"></i> 8. Quem você quer ser'.html_safe, "", class: "dropdown-item disabled" %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "Bônus", "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to '<i class="fas fa-lock-open"></i> 1. Palestra Introdutória MT (Aula 3)'.html_safe, bonus1_path, class: "dropdown-item" %>
          <%= link_to '<i class="fas fa-lock"></i> 2. Aulas de Yoga (A partir da aula 4)'.html_safe, aula1_path, class: "dropdown-item disabled" %>
          <%= link_to '<i class="fas fa-lock"></i> 3. Aula de Automassagem (Aula 4)'.html_safe, "", class: "dropdown-item disabled" %>
          <%= link_to '<i class="fas fa-lock"></i> 4. Introdução ao Maharishi Ayurveda (Aula 4)'.html_safe, "", class: "dropdown-item disabled" %>
          <%= link_to '<i class="fas fa-lock"></i> 5. Ebook: orações e textos sagrados (Aula 8)'.html_safe, "", class: "dropdown-item disabled" %>
          <%= link_to '<i class="fas fa-lock"></i> 6. Meditação Guiada (Aula 8)'.html_safe, "", class: "dropdown-item disabled" %>
        </div>
      </li>
      <ul class="navbar-nav mr-auto ml-4">
        <li class="nav-item dropdown">
          <% if user_signed_in? && current_user.photo%>
            <%= image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
          <% else %>
            <%= image_tag "logo_preto_s_nome.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Encerrar Sessão", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </ul>
  </div>
</div>
