<div class="container col-12">
    <div class="header"></div>
    <div class="ilumine container col-12 text-center" style="justify-content: center">
      <h2 class="p-2">ILUMINE O QUE ESTÁ DENTRO DE VOCÊ <br>E CRIE UMA <U>VIDA QUE FAÇA SENTIDO</U></h2>

      <i class="fas fa-chevron-down fa-3x mb-4"></i>
      <div class="d-flex justify-content-center align-items-center">
       <div class="card text-white bg-dark border-0 mr-5" style="width: 18rem;">
         <div class="card-body">
           <h5 class="card-title"><span class="iconify" data-icon="mdi-bullseye-arrow" data-inline="false"></span></h5>
           <p class="card-text">SABER O QUE QUER<br>(autoconsciência)</p>
         </div>
       </div>
        <span class="font-weight-bold" data-inline="false" style="font-size: 24px;">+</span>
        <div class="card text-white bg-dark border-0 ml-5" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><span class="iconify" data-icon="ri:footprint-fill" data-inline="false"></span></h5>
            <p class="card-text">AGIR PARA CHEGAR LÁ<br>(ação consciente)</p>
          </div>
        </div>
      </div>
      <div class="py-4">
        <h3>Descubra o que precisa trabalhar dentro e fora de você <br>e crie planos de ação para fazer acontecer!</h3>
        <button type="button" class="btn btn-warning btn-quero btn-lg">EU QUERO!</button>
      </div>
    </div>
    <div class="container col-12 text-center p-4" id="avatares">
      <h2>Como nós demos um reset na nossa saúde, nas nossas relações e no nosso trabalho<br>usando o poder da autoconsciência alinhado à ação consciente</h2>
      <div class="row">
        <div class="avatar-large">

        </div>
        <button type="button" class="btn btn-warning btn-quero btn-lg">Quem somos nós e porque você pode <br> contar com a gente para acender sua luz</button>
      </div>
    </div>
    <div class="container" id="ja_deu">
    </div>
    <div class="container justify-content-center" id="caminho">
      <h2>Essa mentoria é totalmente passada para você que...</h2>
      <%= image_tag "" %>
      <button type="button" class="btn btn-warning btn-quero btn-lg">Me vejo nisso e quero criar uma vida que faça sentido</button>
    </div>
    <div class="container col-12" id="fluxograma">
      <h3>VOCÊ IRÁ EXPERIMENTAR O MELHOR DO COLETIVO COM O MELHOR
      DO INDIVIDUAL SOMADO ÀS TAREFAS DE SEDIMENTAÇÃO DO CONHECIMENTO
      E ÀS MELHORES E MAIS <u>VARIADAS FERRAMENTAS DO MERCADO<u>.</h3><br>
      <i class="fas fa-chevron-down fa-3x mb-4"></i><br>
      <h4>meditação, visualização...</h4>
      <button type="button" class="btn btn-warning btn-quero btn-lg">UAU! SUPER COMPLETO! JÁ QUERO!</button>
    </div>
    <div class="row" id="desabrochar">
      <div class="container jornada">
        <h2>A JORNADA...</h2>
        <h3>de autoconhecimento de um jeito que você nunca viu!</h3>
      </div>
      <div class="container" style="align-items: center">
        <div class="modulo">
          <h4><u>MÓDULO 1:</u><br>O eu e a (in)consciência</h4>
          <p><i>Construir a base interior, compreendendo a composição do nosso eu, iluminando a parte ‘inferior e superior’, para ter mais clareza de como trabalhar as questões de dentro</i></p>
          <p>Encontro 1: a personalidade<br>
            Encontro 2: a inconsciência e as sombras<br>
            Encontro 3: o Ser
          </p>
          <h4><u>MÓDULO 3:</u><br>Eu e a sociedade</h4>
          <p><i>Olhar para os problemas do mundo e sua relação com eles, da forma como a consciência individual se relaciona com a consciência coletiva para empoderar a ação consciente no Todo.</i></p>
          <p>Encontro 7: divisões social, ecológica e espiritual<br>
          </p>
          <%= image_tag "" %>
          <h4><u>MÓDULO 2:</u><br>O eu e a vida prática</h4>
          <p><i>Analisar os 3 pilares principais da vida cotidiana sob o viés integral, buscando elevar a consciência das travas e buscas inconscientes para criar uma saúde, relacionamento e retorno financeiro que sejam satisfatórios</i></p>
          <p>
            Encontro 4: saúde integral<br>
            Encontro 5: relacionamentos pessoais e amorosos<br>
            Encontro 6: prosperidade e abundância<br>
          </p>
          <h4><u>MÓDULO 4:</u><br>Consciência coletiva e meu impacto no mundo</h4>
          <p><i>Descobrir como seu propósito serve de alavanca para criar projetos que melhorem sua vida e melhorem o mundo, a partir de um novo Ser que trabalha para a nova era.</i></p>
          <p>
            Encontro 8: quem eu quero Ser na nova era para criar um novo mundo<br>
          </p>
        </div>
      </div>
      <p>*adaptação da Teoria Integral de Ken Wilber</p>
      <h2>Ao término das 8 semanas, esta mentoria terá te ajudado a:</h2>
      <%= image_tag "" %>
      <h3>O DESABROCHAR DA JORNADA</h3>
      <h4>“É realmente um florescimento de dentro para fora e toda a jornada está construída nisso”<br>Carol F.</h4>
      <button type="button" class="btn btn-warning btn-quero btn-lg">QUERO DESABROCHAR TAMBÉM!</button>
    </div>
    <div class="container" id="presente">
      <h2>
        <i class="fas fa-gift fa-6x"></i>
        <br>
        ... e ainda tem presente!
      </h2>
      <div class="row">
        <div class="col-xs-6">
          <div class="card">
            <%= image_tag "yoga.png" %>
            <div class="card-body">
              <h5 class="card-title">5 aulas gravadas</h5>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="card">
            <%= image_tag "foot-massage.png" %>
            <div class="card-body">
              <h5 class="card-title">1 aula de automassagem</h5>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="card">
            <%= image_tag "foot-massage.png" %>
            <div class="card-body">
              <h5 class="card-title">1 palestra introdutória sobre<br>Meditação Transcendental</h5>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="card">
            <%= image_tag "ayurveda.png" %>
            <div class="card-body">
              <h5 class="card-title">1 aula de introdução ao Maharishi Ayurveda</h5>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="card">
            <%= image_tag "study.png" %>
            <div class="card-body">
              <h5 class="card-title">1 caderno de oração e textos sagrados</h5>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-warning btn-quero btn-lg">QUERO! AGORA FICOU MELHOR AINDA!</button>
    </div>
    <div class="container" id="funcionar">
      <h2>Como vai funcionar?</h2><br>
      <h2>ACOMPANHAMENTO E SUPORTE</h2>
      <ul class="experiences">

        <!-- Experience -->
        <li class="green">
          <div class="where">Grupo de Suporte</div>
          <p class="description">Através do WhatsApp para lembretes e troca de saberes entre os participantes</p>
         </li>
        <li class="green">
          <div class="where">Acesso ao site do Consciente Viver</div>
          <p class="description">com Login e Senha para acessar:<br>material extra, atividades, aulas gravadas e bônus</p>
         </li>
        <li class="green">
          <div class="where">Revisão do Plano de Ação</div>
          <p class="description">Envio/Upload do Plano de Ação para revisão através da Plataforma do Consciente Viver</p>
         </li>
        <li class="green">
          <div class="where">Agendamento de Mentorias Individuais</div>
          <p class="description">Será enviado link via WhatsApp do Calendly na semana anterior ao encontro individual </p>
         </li>
        <li class="green">
          <div class="where">Encontros semanais via Zoom</div>
          <p class="description">Sempre com mesmo ID, disponível na descrição do grupo do WhatsApp</p>
         </li>
        <li class="green">
          <div class="where">Atividades entre encontros</div>
          <p class="description">Envio das atividades da semana que devem ser feitas via email.</p>
         </li>
        <li class="green">
          <div class="where">Disponibilidade</div>
          <p class="description">Mentoria disponível pelo WhatsApp sempre que preciso</p>
         </li>
      </ul>
    </div>
  </div>
