<div class="container-fluid m-0 p-0">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding: 0;">
      <%= image_tag 'acenda_luz_limpo.png', class:'full-width' %>
      <div class="text-center align-items-center justify-content-center">

        <div class="ilumine text-center" style="justify-content: center;">
          <h2>Ilumine o que está dentro de você <br> e crie uma <u>vida que faça sentido</u>!</h2>

          <i class="fas fa-chevron-down fa-3x" style="margin-bottom: 1em"></i>
          <div class="row justify-content-center align-items-center p-2">
           <div class="card text-white bg-dark col-sm-12 col-md-4 col-lg-4 col-xl-4">
             <div class="card-body">
               <h5 class="card-title"><span class="iconify" data-icon="mdi-bullseye-arrow" data-inline="false"></span></h5>
               <p class="card-text" style="font-size: 1.3em">SABER O QUE QUER<br>(autoconsciência)</p>
             </div>
           </div>
            <span class="font-weight-lighter col-sm-12 col-md-1 col-lg-1 col-xl-1" data-inline="false" style="font-size: 3em;">+</span>
            <div class="card text-white bg-dark col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="card-body">
                <h5 class="card-title"><span class="iconify" data-icon="ri:footprint-fill" data-inline="false"></span></h5>
                <p class="card-text" style="font-size: 1.3em">AGIR PARA CHEGAR LÁ<br>(ação consciente)</p>
              </div>
            </div>
          </div>
          <div class="py-4">
            <h3>Descubra o que precisa trabalhar dentro e fora de você <br>e crie planos de ação para fazer acontecer!</h3>
            <button type="button" class="btn btn-warning btn-quero btn-lg">EU QUERO!</button>
          </div>
        </div>
        <div class="text-center p-4 align-items-center justify-content-center" id="avatares">
          <h2>Como nós demos um reset na nossa rotina, nas nossas relações e no nosso trabalho usando o poder da autoconsciência alinhado à ação consciente</h2>
          <div class="row align-items-center justify-content-center">
            <div id="avatar-sarah"></div>
            <button type="button" class="btn btn-warning btn-claro btn-lg">Quem somos nós e porque você pode <br> contar com a gente para acender sua luz</button>
          </div>
        </div>
        <div class="curved-page" style="overflow: hidden;">
          <svg
            preserveAspectRatio="none"
            viewBox="0 0 1200 120"
            xmlns="http://www.w3.org/2000/svg"
            style="fill: #ffffff; width: 110%; height: 86px; transform: rotate(180deg);"
          >
            <path
              d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z"
              opacity=".25"
            />
            <path
              d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z"
              opacity=".5"
            />
            <path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z" />
          </svg>
        </div>
        <div class="" id="ja_deu">
          <%= image_tag "ja_deu.png", style:"width:100%;height:auto;" %>
        </div>
        <div class="" id="caminho">
          <h2>Essa mentoria é totalmente pensada para você que...</h2>
          <%= image_tag "caminho.png", style:"width:100%;height:auto" %>
          <button type="button" class="btn btn-warning btn-quero btn-lg">Me vejo nisso e quero criar uma vida que faça sentido</button>
        </div>
        <div class="" id="fluxograma">
          <%= image_tag "fluxograma.png", style:"width:100%;height:auto;" %>
          <h3 style="padding-top:1.5rem;">VOCÊ IRÁ EXPERIMENTAR O MELHOR DO COLETIVO COM O MELHOR
          DO INDIVIDUAL SOMADO ÀS TAREFAS DE SEDIMENTAÇÃO DO CONHECIMENTO
          E ÀS MELHORES E MAIS <u>VARIADAS FERRAMENTAS DO MERCADO</u>.</h3><br>
          <i class="fas fa-chevron-down fa-3x"></i><br>
          <button type="button" class="btn btn-warning btn-claro btn-lg">UAU! SUPER COMPLETO! JÁ QUERO!</button>
        </div>
        <div style="overflow: hidden; background: #b1d08a;">
          <svg
            preserveAspectRatio="none"
            viewBox="0 0 1200 120"
            xmlns="http://www.w3.org/2000/svg"
            style="fill: #f3e9d2; width: 110%; height: 86px; transform: rotate(180deg);"
          >
            <path d="M321.39 56.44c58-10.79 114.16-30.13 172-41.86 82.39-16.72 168.19-17.73 250.45-.39C823.78 31 906.67 72 985.66 92.83c70.05 18.48 146.53 26.09 214.34 3V0H0v27.35a600.21 600.21 0 00321.39 29.09z" />
          </svg>
        </div>
        <div class="" id="desabrochar">
          <div class="container jornada" id="jornada">
            <h2>A JORNADA...</h2>
            <h3>de autoconhecimento de um jeito que você nunca viu!</h3>
          </div>
          <div class="row" style="align-items: center; padding-top: 2em; padding-bottom: 0;">
            <div class="col-sm-6 col-md-6 p-2" id="consciencias-sm">
              <%= image_tag "4_consciencias.png" %>
            </div>
            <div class="modulo col-sm-3 col-md-4">
              <h4><u>MÓDULO 1:</u></h4><h5>O eu e a (in)consciência</h5>
              <h6><i>Construir a base interior, compreendendo a composição do nosso eu, iluminando a parte ‘inferior e superior’, para ter mais clareza de como trabalhar as questões de dentro</i></h6>
              <p>Encontro 1: a personalidade<br>
                Encontro 2: a inconsciência e as sombras<br>
                Encontro 3: o Ser
              </p>
              <div id="consciencias-lg">
                <h4 style="padding-top: 1rem;"><u>MÓDULO 3:</u></h4><h5>Eu e a sociedade</h5>
                <h6><i>Olhar para os problemas do mundo e sua relação com eles, da forma como a consciência individual se relaciona com a consciência coletiva para empoderar a ação consciente no Todo.</i></h6>
                <p>Encontro 7: divisões social, ecológica e espiritual<br>
                </p>
              </div>
              <div id="consciencias-sm">
                <h4 style="padding-top: 1rem;"><u>MÓDULO 2:</u></h4><h5>O eu e a vida prática</h5>
                <h6><i>Analisar os 3 pilares principais da vida cotidiana sob o viés integral, buscando elevar a consciência das travas e buscas inconscientes para criar uma saúde, relacionamento e retorno financeiro que sejam satisfatórios</i></h6>
                <p>
                  Encontro 4: saúde integral<br>
                  Encontro 5: relacionamentos pessoais e amorosos<br>
                  Encontro 6: prosperidade e abundância<br>
                </p>
              </div>
            </div>
            <div class="col-md-3 col-lg-4" id="consciencias-lg">
              <%= image_tag "4_consciencias.png", style:"width:80%; height:auto;" %>
            </div>
            <div class="modulo col-sm-3 col-md-4">
              <div id="consciencias-lg">
                <h4><u>MÓDULO 2:</u></h4><h5>O eu e a vida prática</h5>
                <h6><i>Analisar os 3 pilares principais da vida cotidiana sob o viés integral, buscando elevar a consciência das travas e buscas inconscientes para criar uma saúde, relacionamento e retorno financeiro que sejam satisfatórios</i></h6>
                <p>
                  Encontro 4: saúde integral<br>
                  Encontro 5: relacionamentos pessoais e amorosos<br>
                  Encontro 6: prosperidade e abundância<br>
                </p>
              </div>
              <div id="consciencias-sm">
                <h4 style="padding-top: 1rem;"><u>MÓDULO 3:</u></h4><h5>Eu e a sociedade</h5>
                <h6><i>Olhar para os problemas do mundo e sua relação com eles, da forma como a consciência individual se relaciona com a consciência coletiva para empoderar a ação consciente no Todo.</i></h6>
                <p>Encontro 7: divisões social, ecológica e espiritual<br>
                </p>
              </div>
              <h4 style="padding-top: 1rem;"><u>MÓDULO 4:</u></h4><h5>Consciência coletiva e meu impacto no mundo</h5>
              <h6><i>Descobrir como seu propósito serve de alavanca para criar projetos que melhorem sua vida e melhorem o mundo, a partir de um novo Ser que trabalha para a nova era.</i></h6>
              <p>
                Encontro 8: quem eu quero Ser na nova era para criar um novo mundo<br>
              </p>
            </div>

          </div>
          <h6>*adaptação da Teoria Integral de Ken Wilber</h6><br>
          <h2 style="font-size: 1.6rem;">Ao término das 8 semanas, esta mentoria terá te ajudado a:</h2>
          <%= image_tag "lotus.png", style:"width:80%;height:auto;", id:"lotus" %>
          <p style="padding: 1rem; padding-top: 0;">“É realmente um florescimento de dentro para fora e toda a jornada está construída nisso”<br>Carol F.</p>
          <%= link_to 'QUERO DESABROCHAR TAMBÉM!', details_path , class:'btn btn-warning btn-quero btn-lg' %>
        </div>
        <div class="presente">
            <i class="fas fa-gift fa-6x" style="color: #d3ac4a;"></i>
            <br>
          <h2>
            ... e ainda tem presente!
          </h2>
          <div class="gifts">
            <div class="card-trip">
              <%= image_tag "yoga.png", style:"width: 100%;height: auto;" %>
              <div class="card-trip-infos">
                <div>
                  <h5>5 aulas gravadas de Yoga</h5>
                </div>
              </div>
            </div>
            <div class="card-trip">
              <%= image_tag "foot-massage.png", style:"width: 100%;height: auto;" %>
              <div class="card-trip-infos">
                <div>
                  <h5 style="width: 100%;height: auto;">1 aula de automassagem</h5>
                </div>
              </div>
            </div>

            <div class="card-trip">
              <%= image_tag "mt.png", style:"width: 100%;height: auto;" %>
              <div class="card-trip-infos">
                <div>
                  <h5>1 palestra introdutória sobre Meditação Transcendental</h5>
                </div>
              </div>
            </div>

            <div class="card-trip">
              <%= image_tag "ayurveda.png", style:"width: 100%;height: auto;" %>
              <div class="card-trip-infos">
                <div>
                  <h5>1 aula de Introdução ao Maharishi Ayurveda</h5>
                </div>
              </div>
            </div>

            <div class="card-trip">
              <%= image_tag "study.png", style:"width: 100%;height: auto;" %>
              <div class="card-trip-infos">
                <div>
                  <h5>1 caderno de oração e textos sagrados</h5>
                </div>
              </div>
            </div>
          </div>
          <%= link_to 'QUERO! AGORA FICOU MELHOR AINDA!', details_path , class:'btn btn-warning btn-quero btn-lg' %>
        </div>
        <div class="p-4 align-items-center justify-content-center" id="funcionar">
          <div class="container text-center">
            <h2 style="margin-bottom: 0">Como vai funcionar?</h2>
            <h3 style="margin-top: 0">ACOMPANHAMENTO E SUPORTE</h3>
          </div>
          <div class="container text-left col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ul class="experiences">
              <li class="green">
                <div class="where">Grupo de Suporte</div>
                <p class="description">Através do WhatsApp para lembretes e troca de saberes entre os participantes</p>
               </li>
              <li class="green">
                <div class="where">Acesso ao site do Consciente Viver</div>
                <p class="description">com Login e Senha para acessar:<br>material extra, atividades, aulas gravadas e bônus</p>
               </li>
              <li class="green">
                <div class="where">Revisão do Plano de Ação</div>
                <p class="description">Envio/Upload do Plano de Ação para revisão através da Plataforma do Consciente Viver</p>
               </li>
              <li class="green">
                <div class="where">Agendamento de Mentorias Individuais</div>
                <p class="description">Será enviado link via WhatsApp do Calendly na semana anterior ao encontro individual </p>
               </li>
              <li class="green">
                <div class="where">Encontros semanais via Zoom</div>
                <p class="description">Sempre com mesmo ID, disponível na descrição do grupo do WhatsApp</p>
               </li>
              <li class="green">
                <div class="where">Atividades entre encontros</div>
                <p class="description">Envio das atividades da semana que devem ser feitas via email.</p>
               </li>
              <li class="green">
                <div class="where">Disponibilidade</div>
                <p class="description">Mentora disponível pelo WhatsApp sempre que preciso</p>
               </li>
            </ul>
          </div>
        </div>
        <div style="overflow: hidden; background-color: #104F55;">
          <svg
            preserveAspectRatio="none"
            viewBox="0 0 1200 120"
            xmlns="http://www.w3.org/2000/svg"
            style="fill: #F4F4F4; width: 110%; height: 88px; transform: rotate(180deg);"
          >
            <path
              d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z"
              opacity=".3"
            />
            <path
              d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z"
              opacity=".7"
            />
            <path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z" />
          </svg>
        </div>
        <div class="testemunhos">
          <h2>O que as pessoas que já acenderam sua luz disseram</h2>
          <div class="card-group justify-content-center">
            <div class="card-trip col-sm-12 col-md-3 col-lg-3 col-xl-3">
              <%= image_tag "carol_depo.png", style:"width: 100%;height: auto;" %>
              <div class="card-trip-infos p-2">
                <%= image_tag "carol_foto.png", id: "avatar-carol" %>
                <div>
                  <h3>Carol F.</h3>
                </div>
              </div>
            </div>
            <div class="card-trip col-sm-12 col-md-3 col-lg-3 col-xl-3">
              <%= image_tag "jessica_depo.png", style:"width: 100%;height: auto;" %>
              <div class="card-trip-infos p-2">
                <%= image_tag "jessica_foto.png", id: "avatar-jessica" %>
                <div>
                  <h3>Jéssica P.</h3>
                </div>
              </div>
            </div>
            <div class="card-trip col-sm-12 col-md-3 col-lg-3 col-xl-3">
              <%= image_tag "monica_depo.png", style:"width: 100%;height: auto;" %>
              <div class="card-trip-infos p-2">
                <%= image_tag "monica_foto.png", id: "avatar-monica"%>
                <div>
                  <h3>Monica S.</h3>
                </div>
              </div>
            </div>
            <div class="card-trip col-sm-12 col-md-3 col-lg-3 col-xl-3">
              <%= image_tag "bia_depo.png", style:"width: 100%;height: auto;" %>
              <div class="card-trip-infos p-2">
                <div id="avatar-bia"></div>
                <div>
                  <h3>Ana Beatriz R.</h3>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 full-width" style="background: #f4f4f4; padding:1rem;">
            <iframe src="https://www.youtube.com/embed/fO9liVYM8A0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="garantia text-center">
          <h2>Fique tranquilo!</h2>
          <h3>Se por algum motivo você não gostar do curso, você tem 7 dias para pedir todo seu dinheiro de volta!</h3>
          <div class="row align-items-center justify-content-center">
            <div class="col-sm-4 col-md-4 col-lg-4 col-lg-4">
              <%= image_tag "garantia-7-dias.png", class: "img-fluid"%>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-6 col-lg-6">
              <h4>Não temos a menor dúvida que este é o melhor programa para se conhecer de verdade e fazer acontecer a vida que você deseja.</h4>
              <h4 style="padding-top: 2rem">Mas se por algum motivo você não se identificar e achar que não valeu a pena, é só enviar um email para sarahsalim_@hotmail.com que devolvemos 100% do seu dinheiro.</h4>
            </div>
          </div>
          <div class="text-center">
            <h5>Sem explicações, sem burocracia, 100% do seu dinheiro de volta.</h5>
          </div>
        </div>
        <div class="text-center" id="valor">
          <section>
          <h2>PARA VIVER TUDO ISSO POR...</h2>
            <div class="container-fluid">
              <div class="container">
                <div class="row">
                  <div class="col-xs-4 col-sm-4">
                    <div class="price-table">
                      <div class="price-head">
                        <h4>TURMA NORMAL</h4>
                      </div>
                      <div class="price-content">
                        <ul>
                          <li>
                            <p>por<h2>R$ 997</h2>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-4 col-sm-4">
                    <div class="price-table">
                      <div class="price-head text-center">
                        <h4>TURMA DE LANÇAMENTO</h4>
                      </div>
                      <div class="price-content">
                        <ul>
                          <li>
                            <p>por 12x <h2><b>R$ 64,89</b></h2>
                            <p>ou <em>R$ 647</em> à vista</p>
                          </li>
                        </ul>
                      </div>
                      <div class="price-button">
                        <%= link_to 'EU QUERO!', details_path , class:'price-button' %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                <%= image_tag "5vagas.png", style:"", id:"vagas" %>
            </div>
          </section>
          <div class="align-items-center justify-content-center" id="whats">
            <button type="button" href="https://api.whatsapp.com/send?phone=5512996277707&text=Oi%20Sarah!%20Tenho%20d%C3%BAvida%20sobre%20a%20mentoria.%20" class="align-items-center justify-content-center btn btn-warning btn-claro btn-lg pt-2">
              <div class="align-items-center justify-content-center">
                <i class="fab fa-whatsapp fa-4x" style="color: green; float: left; padding-right: 2px;"></i>
                <h4 style="margin-bottom: 0;">Quer muito fazer mas não tem a grana?<br>Fala com a gente...</h4>
              </div>
            </button>
          </div>
            <button type="button" href="https://api.whatsapp.com/send?phone=5512996277707&text=Oi%20Sarah!%20Tenho%20d%C3%BAvida%20sobre%20a%20mentoria.%20" class="align-items-center justify-content-center btn btn-warning btn-claro btn-lg pt-2">
                <h4 style="margin-bottom: 0;">Ficou com alguma dúvida? Vem que a gente responde!</h4>
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
