<div class="container-fluid mb-0 p-0">
    <div class="nos">
      <h2>Quem somos nós?</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="pb-2" style="display: flex; justify-content: flex-end; align-items: center;">
            <h3>Hassan</h3>
            <%= image_tag "perfil_hassan.jpg", class:"avatar-bordered-nos", style:"" %>
          </div>
          <p style="text-align: right;">Desde pequeno sempre soube que um dia eu iria me tornar instrutor de meditação. É engraçado isso, mas as vezes acho real que simplesmente vim para essa vida para meditar e compartilhar a mensagem que ela carrega. Embora minha mãe brinque sobre isso dizendo que eu já meditava lá na barriga dela (passei a gestação toda com as pernas cruzadas rs), eu só fui aprender de fato uma técnica, a técnica que meus pais já praticavam, quando tinha 15 anos... a Meditação Transcendental.
            <br>No final da minha graduação como Engenheiro Químico pela USP até comecei a trabalhar na área em uma grande empresa, mas não demorou até o fim do estágio para eu perceber que eu não pertencia ali, aquilo mundo não era para mim. Há muitos anos vinha construindo uma vida de maneira inconsciente, muito pela influência do (in)consciente coletivo e também pela falta de consciência interna aqui em mim... Mas sentar para praticar a transcendência natural através de uma técnica é mergulhar no aspecto absoluto do autoconhecimento, e essa experiência nos torna gradualmente mais calmos e flexíveis mas também firmes e resolutos no que acreditamos. E essa força que eu ganhava dia a dia através da prática me impedia de continuar aceitando viver uma vida que eu, lá dentro, não concordava.
            <br><br>
            Direcionei minhas intenções para começar a viver o que eu acreditava e, antes mesmo de eu perceber, estava agarrando a chance de me formar instrutor de MT - e foram 6 meses maravilhosos em retiro, dedicados unicamente a aprender a ensiná-la, no Peru.
            Retornei de minha formação e logo fui lançado no papel como instrutor. Participei de um grande projeto social na Universidade de Maringá para que 600 pessoas aprendessem a técnica e meditassem juntas todos os dias no auditório de lá, por um ano. Ver a leveza que saiam aqueles que chegavam com fortes crises (ansiedade, depressão, estresse etc.) era não só o objetivo científico do projeto, mas também a confirmação dentro de mim que aquilo ali era o meu lugar.
            <br><br>
            Hoje vivo os frutos do que colhi quando agi com base firme no autoconhecimento - praticado todos os dias. Vivo onde queria viver, rodeado pela natureza, água pura, ar puro e silêncio. Trabalhando principalmente à distância (e com alguns encontros pontuais para ensinar a transcender aqui e ali, rs), impacto positivamente diversas pessoas com o meu trabalho, abrindo espaço para um mundo melhor com base no que existe dentro de cada um, por uma Era mais feliz para o Ser que estou gestando (e sua geração), a geração atual e as que estão por vir.
            Sou a prova viva que a autoconsciência (saber o que quero) aliada à ação consciente (trabalhar pra isso) é o que basta para fazer dos sonhos uma realidade!
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="pb-2" style="display: flex; justify-content: flex-start; align-items: center;">
            <%= image_tag "perfil_sarah.jpeg", class:"avatar-bordered-nos", style:"" %>
            <h3>Sarah</h3>
          </div>
          <p>
            Mesmo sendo formada em Engenharia de Produção pela USP, sempre soube que minha parada eram as pessoas. Desde 2014 me engajo com projetos para ajudar pessoas a se conectarem consigo mesmas. Tudo começou com uma pegada motivacional, de como ajudar o ser humano a achar sua motivação intrínseca, estivesse onde fosse. Isso aconteceu através de trabalhos voluntários em RH em 3 associações estudantis da universidade e até uma pesquisa que foi parar em um congresso internacional de RH em Los Angeles.
            Porém, no meio dos caminhos da vida, me vi perdida. Não queria mais cursar engenharia, nem fazer carreira em multinacional, não queria mais continuar com a vida que eu tinha, nem sabia mais como ajudar as pessoas, porque nem eu conseguia me ajudar.
            <br><br>
            Me encontrei no autoconhecimento e mergulhei fundo nisso. Fiz curso de formação de Yoga, PNL, Coaching, Eneagrama e Design Instrucional e quase fiz um mestrado internacional em Educação com base na Consciência (fiquei gravidinha no caminho, fazer o que rsrsr)
            Lá em 2016, ajudei a fundar um coletivo de autoconhecimento que já impactou mais de 150 pessoas e organizei eventos de autoconhecimento para jovens, já em 2018 migrei para jornadas de autoconhecimento em empresas.
            Mas passando por tantos lugares e formas de se trabalhar, percebi que nenhuma dessas experiências houve 100% de coerência com meus valores e com a forma que eu gostaria de viver. Por isso, decidi empreender e criar minha própria forma de viver. Tive muitos medos no caminho, mas aprendi a reconhecê-los e agir mesmo assim!
            <br><br>
            Em 2019 imaginei uma fotografia de 2030 de como minha vida seria... eu realizei esta fotografia em 1 ano, ao invés de 11 anos. Eu vivo a vida dos meus sonhos, a vida que faz sentido pra mim.
            Hoje vivo nas montanhas, bebendo água da nascente e respirando ar puro, vivendo uma vida sustentável. Trabalho 100% virtual, impactando diversas pessoas através do meu trabalho. E estou gestando um Ser, com a perspectiva de criar um futuro melhor para as próximas gerações.
            Sou a prova viva que a autoconsciência (saber o que quero) aliada à ação consciente (trabalhar pra isso) é o que basta para fazer dos sonhos uma realidade!
          </p>
        </div>
      </div>
      <hr>
    </div>
    <div class="projeto p-2">
      <h3>O Projeto Consciente Viver</h3>
          <%= image_tag "logo preto s nome.png", class:"logo" %>
        <div class="texto">
          <p>Quando fazemos escolhas inconscientes em nossas vidas há sempre uma grande chance de colhermos frutos que de fato não esperávamos ou não queríamos.
            <br><br>
            Quantas vezes já trabalhamos com algo que não gostamos? Ou vivemos onde não nos sentimos em casa? Ou entramos em um relacionamento que dá mais dor de cabeça do que evolução? Ou até ignoramos os sinais do corpo e da mente até virar uma crise?
            <br><br>
            Muitos padrões e costumes em nossas vidas são apenas repetições de costumes que as vezes nem fomos nós que plantamos como forma de escolha... pode ter sido os pais, a sociedade, a falta de saber, a pressão social... Esses padrões podem aparecer no trabalho, nos nossos relacionamentos, na nossa saúde ou nas escolhas para dar direção às nossas vidas... em tudo!
            <br><br>
            E o quanto isso nos traz felicidade?<br>
            Quase nada.
            <br><br>
            Nós dois já vivemos vidas de outras pessoas, já abraçamos sonhos que não eram nossos e já nos sentimos fora do nosso próprio Ser. Mas chegou uma hora que decidimos abrir o coração para dizer em alto e bom tom que o que queremos ia muito além do que vemos o resto da sociedade querendo. E isso nos move a mudar!
            <br><br>
            Levar a consciência ao que talvez antes estivéssemos cultivando de maneira inconsciente põe em nossas mãos a possibilidade de termos frutos melhores para colher amanhã. É pegar mesmo as rédeas da sua própria vida!
            <br><br>
            Consciente viver é ser consciente de cada escolha que vc faz, que aproximam sua vida à quem vc é, colhendo os frutos que VOCÊ quer de fato. Por isso, o projeto @consciente.viver nasce da necessidade que surge do ser humano ser feliz, colhendo frutos verdadeiros daquilo que se intenciona com consciência.
            <br><br>
            Frutos como trabalhar sabendo porque isso vibra em vc e pq te eleva. Se relacionar para se enxergar no outro e evoluir de maneira colaborativa. Cuidar da sua saúde física e mental para ser inteiro. Viver a vida que vc acredita, em todos os sentidos.
            <br><br>
            Nossa missão é facilitar este processo para você em duas frentes: em como expandir sua consciência de si e do que lhe traz felicidade - autoconhecimento - e em como tornar isso prático na vida diária - ações conscientes em todos os pilares da vida, inclusive no coletivo.
            Ajudar cada um a viver consciente, porque quem tem sua vida com base na consciência, vive hábitos, relacionamentos, trabalho, saúde... tudo consciente!
            <br><br>
            <b>Isso vai muito além de se conhecer. Se conhecer fica fácil perto da coragem necessária pra VIVER o que se acredita.</b>
          </p>
      </div>
    </div>
    <div class="vida full-width">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "19.-6768.jpg", style:"d-block w-100" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "19.-7395.jpg", style:"d-block w-100" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "19.-6446.jpg", style:"d-block w-100" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "19.-6836.jpg", style:"d-block w-100" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "19.-7435.jpg", style:"d-block w-100" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "19.-6405.jpg", style:"d-block w-100" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "19.-7389.jpg", style:"d-block w-100" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "19.-7316.jpg", style:"d-block w-100" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "19.-7285.jpg", style:"d-block w-100" %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
</div>
