<body class="semear" style="background-color:#f3e9d2;">
  <div class="container-fluid m-0 p-0">
    <div class="row">
      <div class="p-0 col-sm-12 text-center align-items-center justify-content-center">

        <div class="container pt-4">
          <div class="row">
            <div class="col-md-7 col-lg-7" id="semearvc">
              <%= image_tag "logosemearcel.png" %>
            </div>

            <div class="col-md-5 col-lg-5" id="details">

              <div class="pontos">
              <h3 style="line-height: 1; color:#d3ac4a">DESCUBRA COMO SEMEAR AUTOCUIDADO PARA COLHER UM VOCÊ MENOS ANSIOSO E MAIS EQUILIBRADO EM 2021!</h3>
                <br>
                <p>&#x1F914; Reflita como foi seu autocuidado em 2021 e principais desafios</p>
                <p>&#x1F50E; Identifique seus hábitos que te sabotam</p>
                <p>&#x270D; Desenhe seu próprio ritual de autocuidado para 2021</p>
              </div>

            </div>
          </div>
        </div>
        <h4 style="line-height: 1.3; letter-spacing: 1px;padding: 1rem;">O evento Semear Você 2021 é um <b>retiro <em>ON-LINE</em></b> <b>GRATUITO</b> para trabalhar seu autocuidado.</h4>

        <p id="dia"><b style="color:#d3ac4a">Dia 06 de Dezembro</b> <br><b>das 8 às 19h</b></p>
        <a href="https://chat.whatsapp.com/IqVU3bgE41aDjgODlg5Sh3" class="btn btn-warning btn-quero btn-lg" style="border-radius: 8px;letter-spacing: 0.5px; margin-bottom: -10px;" id="inscreva">
          Se inscreva gratuitamente!
        </a>

        <div style="overflow: hidden;">
          <svg
            preserveAspectRatio="none"
            viewBox="0 0 1200 120"
            xmlns="http://www.w3.org/2000/svg"
            style="fill: #d3ac4a; width: 143%; height: 56px; transform: rotate(180deg);"
          >
            <path
              d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z"
              opacity=".25"
            />
            <path
              d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z"
              opacity=".5"
            />
            <path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z" />
          </svg>
        </div>
        <div class="segundobloco" style="margin-bottom: -15px;">
          <div class="container">
            <div class="row">
              <div class="retiroonline m-4">
                <h4 style=""><b>Retiro online? &#x1F914;&#x1F914; Como funciona?</b></h4>
                <p style="float:right;">Um retiro é um período para <u>se retirar das atividades cotidianas</u>, a fim de realizar um mergulho interno e obter respostas</p>
              </div>
              <br>
              <h5 class="m-2">
                Vamos ficar um dia inteiro juntinhos e conectados pelo Zoom para:
              </h5>
            </div>
          </div>
          <div class="gifts">
            <div class="card-trip">
              <%= image_tag "yoga.png", style:"width: 60%;height: auto;" %>
              <div class="card-trip-infos">
                <div>
                  <h6 style="margin-bottom: 0;">Praticar Yoga, Meditação e Respirações</h6>
                </div>
              </div>
            </div>
            <div class="card-trip">
              <%= image_tag "routine.png", style:"width: 60%;height: auto;" %>
              <div class="card-trip-infos">
                <div>
                  <h6 style="margin-bottom: 0;">Receber dicas e aprender mais sobre alimentação e sono</h6>
                </div>
              </div>
            </div>

            <div class="card-trip">
              <%= image_tag "knowledge.png", style:"width: 60%;height: auto;" %>
              <div class="card-trip-infos">
                <div>
                  <h6 style="margin-bottom: 0;">Aulas teóricas sobre corpo, mente, estresse, ansiedade, vícios e gatilhos</h6>
                </div>
              </div>
            </div>

            <div class="card-trip">
              <%= image_tag "spa.png", style:"width: 60%;height: auto;" %>
              <div class="card-trip-infos">
                <div>
                  <h6 style="margin-bottom: 0;">Criar seu próprio ritual de autocuidado, com os elementos que fazem sentido pra você!</h6>
                </div>
              </div>
            </div>

            <div class="card-trip">
              <%= image_tag "reflect.png", style:"width: 60%;height: auto;" %>
              <div class="card-trip-infos">
                <div>
                  <h6 style="margin-bottom: 0;">Fazer reflexões sobre a rotina de autocuidado em 2020 e plantar a sementinha de como você quer que seja em 2021</h6>
                </div>
              </div>
            </div>

            <div class="card-trip">
              <%= image_tag "study.png", style:"width: 60%;height: auto;" %>
              <div class="card-trip-infos">
                <div>
                  <h6 style="margin-bottom: 0;">Preencher ferramentas para identificar seus maus hábitos e criar indicadores, aceitando os deslizes e erros no caminho</h6>
                </div>
              </div>
            </div>

            <div class="card-trip" id="sunbathing">
              <%= image_tag "sunbathing.png", style:"" %>
              <div class="card-trip-infos">
                <div>
                  <h6 style="margin-bottom: 0;">Vivenciar outras experiências e conhecer outros elementos de autocuidado para expandir seu leque de opções na construção da sua própria rotina de autocuidado</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="retiro">
          <h3>PARA QUEM É ESSE RETIRO?</h3>
          <div class="wrapper">
            <div class="element">
              <%= image_tag "anxiety.png" %>
              <h4>Você está ansioso?</h4>
              <p>É, usamos "está". Isso é porque você irá aprender a usar o seu corpo para aos poucos reverter essa situação e estar pleno em si para criar a vida que deseja.</p>
            </div>
            <div class="element">
              <%= image_tag "cage.png" %>
              <h4>Quer descobrir mais sobre o que te impede de voar?</h4>
              <p>Iremos descobrir desde a base aquilo que trava nosso potencial de ser e viver mais, vem com a gente. .</p>
            </div>
            <div class="element">
              <%= image_tag "foot-massage.png" %>
              <h4>Quer se aprofundar no autocuidado?</h4>
              <p>Aprenderemos ferramentas simples e, no entanto, poderosas de reestabelecer a harmonia e tranquilidade de nosso corpo e mente.</p>
            </div>

          </div>
        </div>
        <hr>
          <h4 id="convite"><b>Bora participar desse evento <em>GRATUITO</em>?</b></h4>
          <a href="https://chat.whatsapp.com/IqVU3bgE41aDjgODlg5Sh3" class="btn btn-warning btn-quero btn-lg mb-2" style="border-radius: 8px;letter-spacing: 0.5px">
            Se inscreva gratuitamente!
          </a>


        <!-- ---------------------- -->
        <hr>
        <div class="aovivo">
          <div class="encontros p-2" style="justify-self: center;float:left; background: #F3E9D2; border-radius: 8px;">
            <h4>Teremos 4 encontros ao vivo ao longo do dia e entre os encontros você deverá fazer as reflexões e atividades individuais</h4>
            <p style="line-height: 1">*durante as atividades individuais, estaremos disponíveis para tirar as dúvidas</p>
          </div>
          <br>
        </div>

        <div class="imgbox">
          <%= image_tag "semearlinha.png" %>
        </div>
        <h4>Semear Você é a primeira parte completinha que <b>estamos dando de presente pra você</b> da jornada completa Semear 2021.</h4>
        <h4>O restante desta construção vem para integrar este primeiro pilar e ajudar você a semear seus sonhos em 2021:</h4>
        &#x1F447; &#x1F447;

      </div>
    </div>
  </div>
</body>
