<body class="semear" style="background-color:#f3e9d2;">
  <div class="container-fluid m-0 p-0">
    <div class="row">
      <div class="p-0 col-sm-12 text-center align-items-center justify-content-center">

        <div class="container pt-4">
          <div class="row">
            <div class="col-md-7 col-lg-7" id="semearvc">
              <%= image_tag "semearvc_full.png" %>
            </div>

            <div class="col-md-5 col-lg-5" id="details">
              <div class="pontos">
                <h3 style="line-height: 1; color:#d3ac4a">Para você que quer fazer diferente em 2021, com intenções claras e metas alcançáveis, sem deixar seus sonhos pra depois</h3>
                <br>
                <p>&#x1F914; Pare pra refletir o que você aprendeu em 2020</p>
                <p>&#x1F50E; Estabeleça claramente a vida que você quer ter em 2021 e suas principais metas</p>
                <p>&#x1F4C6; Aprenda a se planejar seus passos anual, mensal e semanalmente</p>
                <p>&#x270D; Crie seus mecanismos de monitoramento para que você não deixe de olhar pra sua rota o ano todo</p>
                <p>📊 Mapeie seus sabotadores que te fazem desistir ou esquecer de seus objetivos ao longo do ano</p>
              </div>
            </div>
          </div>
          <h4 style="line-height: 1.3; letter-spacing: 1px;">O evento Semear 2021 é um <b>retiro-curso <em>100% ON-LINE</em></b> para preparar o seu 2021 usando as melhores ferramentas.</h4>
        </div>

        <p id="dia"><b style="color:#d3ac4a">Dia 19 e 20 de Dezembro</b></p>
        <a href="https://pag.ae/7WEpmYi13" class="btn btn-warning btn-quero btn-lg" style="border-radius: 8px;letter-spacing: 0.5px; margin-bottom: -10px;" id="inscreva" target="_blank">
          Eu quero!
        </a>


        <div style="overflow: hidden;">
          <svg
            preserveAspectRatio="none"
            viewBox="0 0 1200 120"
            xmlns="http://www.w3.org/2000/svg"
            style="fill: #d3ac4a; width: 143%; height: 56px; transform: rotate(180deg);"
          >
            <path
              d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z"
              opacity=".25"
            />
            <path
              d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z"
              opacity=".5"
            />
            <path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z" />
          </svg>
        </div>

        <div class="segundobloco">
          <div class="container">
            <div class="row">
              <!-- ARVORE -->
              <div class="imgbox col-sm-12 col-md-6" id="imgarvore">
                <%= image_tag "arvore.png" %>
              </div>

              <div class="retiro col-sm-12 col-md-6">
                <h3 style="color:black;">Vamos te ajudar a semear seu 2021 para:</h3>
                <!-- PILARES -->
                <div class="gifts">
                  <div class="card-trip">
                    <%= image_tag "calm.png", style:"width: 60%;height: auto;" %>
                    <div class="card-trip-infos">
                      <div>
                        <h6 style="margin-bottom: 0;">Fortalecer você tendo consciência da qualidade de <b>AUTOCUIDADO</b> nas suas escolhas</h6>
                        <br>
                        <p><em>Cuidando para que o solo fique fértil, permitindo a vida crescer</em></p>
                      </div>
                    </div>
                  </div>
                  <div class="card-trip">
                    <%= image_tag "eye.png", style:"width: 60%;height: auto;" %>
                    <div class="card-trip-infos">
                      <div>
                        <h6 style="margin-bottom: 0;">Reconhecer onde você está e ter <b>CLAREZA</b> do estilo de vida que quer e onde quer chegar, alinhando seus valores e parando de seguir o “ter que”</h6>
                        <br>
                        <p><em>Sabendo o que você quer colher pra saber o que plantar</em></p>
                      </div>
                    </div>
                  </div>
                  <div class="card-trip">
                    <%= image_tag "willpower.png", style:"width: 60%;height: auto;" %>
                    <div class="card-trip-infos">
                      <div>
                        <h6 style="margin-bottom: 0;">Identificar seus sabotadores mentais e estabelecer seus ‘nãos’, mantendo <b>FIRMEZA</b> da decisão na sua mente, coração e ação</h6>
                        <br>
                        <p><em>Garantindo uma raíz firme que não cai diante de qualquer adversidade</em></p>
                      </div>
                    </div>
                  </div>
                  <div class="card-trip">
                    <%= image_tag "study.png", style:"width: 60%;height: auto;" %>
                    <div class="card-trip-infos">
                      <div>
                        <h6 style="margin-bottom: 0;">Dissolver suas inseguranças com a clareza dos próximos passos e o mapeamento dos riscos através do <b>PLANEJAMENTO</b></h6>
                        <br>
                        <p><em>Criando uma boa estrutura para se ramificar e crescer, mesmo que venha a poda e a mudança de rota</em></p>
                      </div>
                    </div>
                  </div>
                  <div class="card-trip">
                    <%= image_tag "routine.png", style:"width: 60%;height: auto; padding:0;" %>
                    <div class="card-trip-infos">
                      <div>
                        <h6 style="margin-bottom: 0;">Aprender a ancorar na sua <b>ROTINA</b> a construção do seu sonho, com organização anual, mensal e semanal e monitoramento dos seus passos</h6>
                        <br>
                        <p><em>Não esquecendo de regar e nutrir com constância para que a plantinha dos seus sonhos não morra</em></p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /PILARES -->
              </div>
            </div>
              <a href="https://pag.ae/7WEpmYi13" class="btn btn-warning btn-claro" style="font-size:1.5rem;border-radius: 8px;letter-spacing: 0.5px;" id="inscreva" target="_blank">
                QUERO DEMAISSSS!
              </a>
          </div>
        </div>
        <div style="overflow: hidden;">
          <svg
            preserveAspectRatio="none"
            viewBox="0 0 1200 120"
            xmlns="http://www.w3.org/2000/svg"
            style="fill: #d3ac4a; width: 143%; height: 56px;"
          >
            <path
            d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z"
            opacity=".25"
          />
            <path
              d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z"
              opacity=".5"
            />
            <path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z" />
          </svg>
        </div>
        <div class="retiro">
          <div class="container">
              <div class="d-flex align-items-center justify-content-center" id="nos">
                <%= image_tag 'perfil_dois.jpg', class:"avatar-bordered" %>
                <%= link_to 'Quem somos nós e porque você pode contar com a gente para te ajudar a semear o que você quer colher!', nos_path , class:'btn btn-warning btn-claro btn-lg', target:"_blank" %>
              </div>
          </div>
        </div>
        <div style="overflow: hidden;">
          <svg
            preserveAspectRatio="none"
            viewBox="0 0 1200 120"
            xmlns="http://www.w3.org/2000/svg"
            style="fill: #d3ac4a; width: 143%; height: 56px; transform: rotate(180deg);"
          >
            <path
              d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z"
              opacity=".25"
            />
            <path
              d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z"
              opacity=".5"
            />
            <path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z" />
          </svg>
        </div>
        <div class="segundobloco">
          <h3>PARA QUEM É ESSE EVENTO?</h3>
          <div class="wrapper">
            <div class="element">
              <%= image_tag "idea.png" %>
              <h4>Você tem muitas ideias, mas deixa elas guardadas na gaveta, sem saber por quê?</h4>
              <p>Vem com a gente que com um bom planejamento você vai saber exatamente o que fazer pra saírem da gaveta e com um bom mapeamento de seus sabotadores você vai saber o que te trava</p>
            </div>
            <div class="element">
              <%= image_tag "anxiety.png" %>
              <h4>Você fica frustrado no final do ano por não ter feito o que queria?</h4>
              <p>Também é pra você, porque vamos estabelecer metas alcançáveis e formas de ir monitorando, sem ficar deixando pra depois</p>
            </div>
            <div class="element">
              <%= image_tag "dazzled.png" %>
              <h4>Você não sabe muito bem o que quer pra sua vida ou está insatisfeito com a forma que está vivendo?</h4>
              <p>Isso é super comum e também podemos te ajudar nisso! 2021 tá chegando com essa oportunidade de revisão e vamos te dar ferramentas pra elucidar os elementos da vida que faz sentido pra você</p>
            </div>
          </div>
          <a href="https://pag.ae/7WEpmYi13" class="btn btn-warning btn-claro btn-lg mb-2" style="border-radius: 8px;letter-spacing: 0.5px" target="_blank">
            Me vejo nisso e quero Semear 2021!
          </a>
        </div>

        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="retiroonline p-4 col-sm-12 col-md-5">
              <h4 style=""><b>Retiro online? &#x1F914;&#x1F914; Como funciona?</b></h4>
              <p style="float:right;">Um retiro é um período para <u>se retirar das atividades cotidianas</u>, a fim de realizar um mergulho interno e obter respostas. <br><b>Nada mais propício que isso para ancorar o que quer em 2021, não é mesmo?</b></p>
              <br>
            </div>
            <div class="m-4 col-sm-12 col-md-6">
              <div class="encontros p-2" style="position: relative;z-index: 1;justify-self: center;float:left; background: #F3E9D2; border-radius: 8px;">
                <h4>Teremos 4 encontros ao vivo ao longo do dia e entre os encontros você deverá fazer as reflexões e atividades individuais</h4>
                <p style="line-height: 1">*durante as atividades individuais, estaremos disponíveis para tirar as dúvidas</p>
              </div>
            </div>
              <h4>Temos um cronograma base, sempre começamos e finalizamos com práticas e temos aulas e atividades de manhã e de tarde</h4>
              <h4>Veja &#x1F447;&#x1F447;&#x1F447;</h4>
            <div class="imgbox">
              <%= image_tag "cronograma.png" %>
            </div>
          </div>
        </div>
        <div class="segundobloco">
          <div class="container" style="margin-bottom:1rem;">
            <div class="row">
              <div class="align-items-center justify-content-center">
                <div class="retiroonline m-4">
                  <h4 style=""><b>Não pode estar conosco ao vivo no final de semana do evento? ou em alguma parte durante o final de semana?</b></h4>
                  <p>Não tem problema! o evento ficará inteirinho gravado e você terá acesso por tempo ILIMITADO para assistir quando fizer sentido pra você 
                  Você pode seguir o fluxo de um curso gravado, no seu tempo, ou estar ao vivo conosco. Você quem decide!</p>
                </div>
                <div>

                  <a href="https://pag.ae/7WEpmYi13" class="btn btn-warning btn-claro" style="font-size:1rem;border-radius: 8px;letter-spacing: 0.5px; margin-bottom: -10px;" id="inscreva" target="_blank">
                    Uaau aí sim! Agora quero mesmo!
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ---------------------- -->
        <hr>
        <div class="aovivo">
          <div class="container">
            <h3>O QUE JÁ ACONTECEU?</h3>
            <h4>Semear Você 2021 é a primeira parte completinha que <b>demos de presente pra você</b> da jornada completa Semear 2021.</h4>
            <h4>Nosso encontro do Semear Você 2021 já aconteceu. Perdeu? Assiste aí e já sente a vibe de como vai ser o Semear 2021 💥</h4>
          </div>
          <div class="row align-items-center justify-content-center">
            <div class="col-sm-12 col-md-6">
              <%= link_to 'Fui atrasildo/a mas quero ver', autocuidado_path , class:'btn btn-warning btn-quero btn-lg', style:"border-radius: 8px;letter-spacing: 0.5px;margin:1rem", target:"_blank" %>
            </div>
          </div>
          <div class="container">
            <h4>Fizemos uma sequência de lives pra introduzir cada um dos cinco pilares e contar nossa experiência com cada um deles:</h4>
          </div>
          <div class="row align-items-center justify-content-center">
            <div class="col-sm-12 col-md-6">
              <%= link_to 'Quero ver essa sequência de lives maravilhosas!', "https://www.youtube.com/watch?v=YBBxm6sXIYM&list=PLzPMYVf9Qo4SyFfUMvFIiOtu2Us1RY4Vz" , class:'btn btn-warning btn-quero btn-lg', style:"border-radius: 8px;letter-spacing: 0.5px;margin:1rem", target:"_blank" %>
            </div>
          </div>
        </div>
        <div style="overflow: hidden;">
          <svg
            preserveAspectRatio="none"
            viewBox="0 0 1200 120"
            xmlns="http://www.w3.org/2000/svg"
            style="fill: #d3ac4a; width: 143%; height: 56px; transform: rotate(180deg);"
          >
            <path
              d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z"
              opacity=".25"
            />
            <path
              d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z"
              opacity=".5"
            />
            <path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z" />
          </svg>
        </div>
        <div class="segundobloco">
          <div class="container" style="margin-bottom:1rem;">
            <div class="row align-items-center justify-content-center">
              <div class="retiroonline">
                  <i class="fas fa-gift fa-6x" style="color: white;"></i>
                  <br>
                  <br>
                <h3>
                  ... e ainda tem presente!</h3>
                  <br>
                <div class="container">
                  <div class="align-items-center justify-content-center">
                    <h4 style="text-align: center;"><b>Aula de meio de ano de acompanhamento</b></h4>
                    <p style="text-align: center;">Vamos ver como sua ‘plantação’ tá crescendo e dar uma geral nela!</p>
                    <h4 style="text-align: center;"><b>Aula de final de ano de revisão</b></h4>
                    <p style="text-align: center;">Vamos ver como foi seu ano e o que você conseguiu conquistar do que tinha planejado!</p>
                  </div>
                </div>
              </div>
              <a href="https://pag.ae/7WEpmYi13" class="btn btn-warning btn-claro" style="font-size:1rem;border-radius: 8px;letter-spacing: 0.5px;margin-top: 1rem;" id="inscreva" target="_blank">
                Eita, e dava pra melhorar? ME INSCREVE AÍ!
              </a>
            </div>
          </div>
        </div>
        <div class="valor">
          <div class="align-items-center justify-content-center">
            <h4>para 1 final de semana, 8 encontros de 1h30 e uma oportunidade de fazer 2021 diferente:</h4>
            <a href="https://pag.ae/7WEpmYi13" class="btn btn-warning btn-claro" style="font-size:1rem;border-radius: 8px;letter-spacing: 0.5px;" id="inscreva" target="_blank">
              <h3 style="margin: 0;"><b>R$ 197</b></h3>
            </a>
            <br>
            <br>
            <h4><b>Combo 2 pessoas:</b></h4>
            <a href="https://pag.ae/7WEpoAbxJ" class="btn btn-warning btn-claro" style="font-size:1rem;border-radius: 8px;letter-spacing: 0.5px;" id="inscreva" target="_blank">
              <h3 style="margin: 0;">R$ 254 (127 cada)</h3>
            </a>
            <h4 style="margin: 0;"><em>É isso mesmo, traga alguém junto e vocês dois pagam mais barato! <br>E assim a gente aumenta a rede de pessoas vivendo conscientemente <3</em></h4>
            <h4>Você participou do Semear Você 2021? Clique abaixo para retirar seu desconto especial :)</h4>
            <a href="https://wa.me/5512996586095?text=Oi+Hassan%21+Eu+participei+do+Semear+Voc%C3%AA+2021+e+gostaria+de+participar+da+jornada+completa+Semear+2021.+Como+fa%C3%A7o+para+adquirir+meu+desconto%3F" class="btn btn-warning btn-claro" style="font-size:1rem;border-radius: 8px;letter-spacing: 0.5px;" id="inscreva" target="_blank">
              <h3 style="margin: 0;">Participante Semear Você 2021</h3>
            </a>
          </div>
        </div>
    </div>
  </div>
</body>
